body {
    background-color: #f5dad8;
}

.App {
    display: flex;
    justify-content: center;
}
article {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    background-image: url(https://static3.depositphotos.com/1006124/215/i/950/depositphotos_2159129-stock-photo-red-roses-border-on-satin.jpg);
    width: 50rem;
    height: 90vh;
    border-radius: 20px;
    padding-top: 13rem;
    text-align: center;
}